# Dependencias
node_modules/
**/node_modules/

# Builds
dist/
build/
.out/
.next/
.vite/

# IDE/OS
.idea/
.vscode/
.DS_Store

# Env/keys
.env
*.env.local
*.env.*.local

# Logs y cache
npm-debug.log*
yarn-error.log*
.pnpm-store/
.cache/
